@media only screen and (max-width: 600px) {
    .mylogo {
        height: 200px;
	}
}

@media only screen and (min-width: 601px) {
    .mylogo {
        height: 350px;
	}
}


@media only screen and (max-width: 600px) {
    .myimg {
        height: 120px;
	}
}

@media only screen and (min-width: 600px) {
    .myimg {
        height: 200px;
	}
}


@media only screen and (max-width: 600px) {
    body,html{
        font-size: 10px;
    }
    .slide-title{
        padding-bottom: 60px;
    }
}